language: go
sudo: true
services:
- docker
addons:
  apt:
    packages:
    - upx-ucl

go:
- "1.15"
#- tip

env:
- GO111MODULE=on DOCKER_CLI_EXPERIMENTAL=enabled

before_install:
- curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
- sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu
  $(lsb_release -cs) stable"
- sudo apt-get update
- sudo apt-get -y install docker-ce
- docker buildx
- curl https://rclone.org/install.sh | sudo bash

install:
- make dev-deps
- docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
- docker buildx create --use --driver-opt image=moby/buildkit:master
- docker buildx inspect --bootstrap
- docker buildx ls
script:
- make lint
- make build
- make test
- "./docker-volume-rclone"
after_success:
- bash <(curl -s https://codecov.io/bash)
- docker --version
- make docker-plugin
- PLUGIN_CONFIG=config.with-mount.json PLUGIN_TAG=with-mount make docker-plugin
- if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"; fi
- if [ "$TRAVIS_BRANCH" = "master" && "$TRAVIS_EVENT_TYPE" != "pull_request"]; then make docker-plugin-push; fi
- if [ "$TRAVIS_BRANCH" = "master" && "$TRAVIS_EVENT_TYPE" != "pull_request"]; PLUGIN_TAG=with-mount make docker-plugin-push; fi
- make docker-buildx-plugin
- if [ "$TRAVIS_BRANCH" = "master" && "$TRAVIS_EVENT_TYPE" != "pull_request"]; PLUGIN_TAG=latest-linux-386 make docker-plugin-push; fi
- if [ "$TRAVIS_BRANCH" = "master" && "$TRAVIS_EVENT_TYPE" != "pull_request"]; PLUGIN_TAG=latest-linux-amd64 make docker-plugin-push; fi
- if [ "$TRAVIS_BRANCH" = "master" && "$TRAVIS_EVENT_TYPE" != "pull_request"]; PLUGIN_TAG=latest-linux-arm64 make docker-plugin-push; fi
- if [ "$TRAVIS_BRANCH" = "master" && "$TRAVIS_EVENT_TYPE" != "pull_request"]; PLUGIN_TAG=latest-linux-arm-v7 make docker-plugin-push; fi
- PLUGIN_CONFIG=config.with-mount.json PLUGIN_TAG=with-mount make docker-buildx-plugin
- if [ "$TRAVIS_BRANCH" = "master" && "$TRAVIS_EVENT_TYPE" != "pull_request"]; PLUGIN_TAG=with-mount-linux-386 make docker-plugin-push; fi
- if [ "$TRAVIS_BRANCH" = "master" && "$TRAVIS_EVENT_TYPE" != "pull_request"]; PLUGIN_TAG=with-mount-linux-amd64 make docker-plugin-push; fi
- if [ "$TRAVIS_BRANCH" = "master" && "$TRAVIS_EVENT_TYPE" != "pull_request"]; PLUGIN_TAG=with-mount-linux-arm64 make docker-plugin-push; fi
- if [ "$TRAVIS_BRANCH" = "master" && "$TRAVIS_EVENT_TYPE" != "pull_request"]; PLUGIN_TAG=with-mount-linux-arm-v7 make docker-plugin-push; fi

before_deploy:
- make compress
- PLUGIN_TAG=$(git describe --tags --abbrev=0) make docker-plugin
- PLUGIN_CONFIG=config.with-mount.json PLUGIN_TAG=$(git describe --tags --abbrev=0)-with-mount make docker-plugin
- PLUGIN_TAG=$(git describe --tags --abbrev=0) make docker-buildx-plugin
- PLUGIN_CONFIG=config.with-mount.json PLUGIN_TAG=$(git describe --tags --abbrev=0)-with-mount make docker-buildx-plugin
- PLUGIN_TAG=$(git describe --tags --abbrev=0) make docker-plugin-push
- PLUGIN_TAG=$(git describe --tags --abbrev=0)-linux-386 make docker-plugin-push
- PLUGIN_TAG=$(git describe --tags --abbrev=0)-linux-amd64 make docker-plugin-push
- PLUGIN_TAG=$(git describe --tags --abbrev=0)-linux-arm64 make docker-plugin-push
- PLUGIN_TAG=$(git describe --tags --abbrev=0)-linux-arm-v7 make docker-plugin-push
- PLUGIN_TAG=$(git describe --tags --abbrev=0)-with-mount make docker-plugin-push
- PLUGIN_TAG=$(git describe --tags --abbrev=0)-with-mount-linux-386 make docker-plugin-push
- PLUGIN_TAG=$(git describe --tags --abbrev=0)-with-mount-linux-amd64 make docker-plugin-push
- PLUGIN_TAG=$(git describe --tags --abbrev=0)-with-mount-linux-arm64 make docker-plugin-push
- PLUGIN_TAG=$(git describe --tags --abbrev=0)-with-mount-linux-arm-v7 make docker-plugin-push
deploy:
  provider: releases
  api_key:
    secure: Hn6VHF90T7UHwodKJTcXai4mNKwPMtmw32Y/UzHIEdcjz4xED3LpAHa54FiknWP7DbYPTl7XDYIH3dUK20U16cKY+GF5Z16v0cDtqOvRiQJajeQ3W496U5T0XiQra7UrCTCnCHzt3C/cLk/UototJcybUERe7s7CCIuRiWX3WfwmbWITp7cAw9VKP2LUyle7+GYTKa/pS52zTnbj7+XnnuBqNr90kUUM05DqcpSeTCnucftLnW7FHa3KC0HmyI7a/vRSptdUPHpzH9+Uqr+G04hwxjLzF/LANs5Z2IaJj7KAB4fR0Na1rbCV2hMkndeILuMO+QiZOwpGk6YD23BfWL504TTdotwwrxrBUyWDVppNxbopL1zhGR9T1dXyGZnsPI0bJ4Z+HFc0Oh+VDIZxRO5oXFOmFWc/CGWgYbEwZ17M1elTLAcVATrL/n+sAcYo9xVcP+CJT+kQjJisYQ9CXEaiY25TJmNjg6Ha28fB+dCRwlTwoxXOhINzv8AWyTMBun83KZNXK4xJ0zYkJkB9jOpx3GPpr1XjMYXWr9oNZIreGIKWX113ULRJ+0SvMcd0tobzVd428ZlvIYuC1CmeP0iuSgzwmX3C60Jlxz4EnwRL3YAsIX/24BU//9elp/WZbATrUOyLTy9KVcUGFALmW0k7w2oTFGKY9DlCSbrdslk=
  file: "./docker-volume-rclone"
  skip_cleanup: true
  on:
    tags: true
    repo: sapk/docker-volume-rclone
